# This file can be used to set environment variables while running in your
# development environment.
#
# To set this up, copy this file to `.env` and then make any changes you wish.
# These environment variables will be automatically picked up when running
# in non-production mode.
NODE_ENV=development
