{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "commonjs": true,
    "jest": true
  },
  "globals": {
    "IRS": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "semi": [ "error" ],
    "comma-dangle": [ "error", "never" ],
    "comma-style": [ "error", "last" ],
    "func-call-spacing": [ "error", "never" ],
    "indent": [ "error", 2, {
      "SwitchCase": 1
    }],
    "linebreak-style": [ "error", "unix" ],
    "spaced-comment": [ "error", "always" ],
    "block-scoped-var": [ "error" ],
    "no-implied-eval": [ "error" ],
    "array-bracket-spacing": [ "error", "always", {
      "objectsInArrays": false,
      "arraysInArrays": false
    }],
//    "brace-style": [ "error", "stroustrup", { "allowSingleLine": true }],
    "camelcase": [ "error", { "properties": "always" }],
    "comma-spacing": [ "error", { "before": false, "after": true }],
    "computed-property-spacing": [ "error", "never" ],
    "eol-last": [ "error", "always" ],
    "block-spacing": [ "error", "always" ],
    "func-names": [ "error", "as-needed" ],
    "func-style": [ "error", "declaration", { "allowArrowFunctions": true }],
    "jsx-quotes": [ "error", "prefer-double" ],
    "keyword-spacing": "error",
    "new-parens": "error",
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": "error",
    "object-curly-spacing": [ "error", "always", {
      "objectsInObjects": false,
      "arraysInObjects": true
    }],
    "react/no-unescaped-entities": 0,
    "space-before-blocks": "error",
    "space-before-function-paren": [ "error", "never" ],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "arrow-body-style": [ "error", "as-needed" ],
    "arrow-parens": [ "error", "always", { "requireForBlockBody": true }],
    "arrow-spacing": "error",
    "generator-star-spacing": [ "error", "before" ],
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "rest-spread-spacing": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": [ "error", "before" ],
    "valid-jsdoc": [ "error" , {
      "prefer": { "return": "returns" },
      "requireReturn": false,
      "requireReturnDescription": false
    }],
    "require-jsdoc": [ "warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": false
      }
    }]
  }
}
