@import "../../styles/variables";
@import "../../styles/mixins";

.textarea {
  display: block;
  @include input-text;
  height: $input-height + 10;
  line-height: $line-height-base - 4px;
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 0;

  &.success {
    border: 1px solid $color-green;
  }

  &.error {
    border: 1px solid $color-red;
  }

  &.disabled {
    background-color: $color-gray-light;
    border-color: $color-gray;
    color: $color-gray-text;
    cursor: not-allowed;
    -webkit-text-fill-color: $color-gray-text; // Needed for Safari
  }
}

.errorMessage {
  display: block;
  color: $color-red;
  font-size: $font-size-base - 2px;
  line-height: 20px;
}

.hintMessage {
  display: block;
  color: $color-gray-dark;
  font-size: $font-size-base - 2px;
  line-height: 20px;
}

textarea:focus {
  box-shadow: 0px 0px 0px 3px $color-blue-vivid;
  border-radius: 0;
  outline: none;
  z-index: 1;
}
