@import "~ols-ui/styles/variables";

// Grid example
.gridRow {
  min-height: 8rem;
  margin-bottom: 20px;
  background: $color-gray-light;

  &:last-child {
    margin-bottom: 0;
  }
}

.gridCol {
  height: 8rem;
  border: 1px solid $color-gray;
  background: rgba($color-visited, 0.2);
  text-align: center;
}
