@import "../../styles/variables";
@import "../../styles/mixins";

$accordionIconSize: 20px;

.accordionItem {
  border-bottom: solid 1px $color-gray;
  margin: 0;
  padding-left: 0;

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading2-sizing;
  }

  &.noBorder {
    border-bottom: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.accordionOuterBorder {
  border: solid 1px $color-gray;
}

.trigger {
  @include button-unstyled;
  @include heading3;
  color: $color-gray-darkest;
  position: relative;
  display: block;
  width: 100%;
  padding: $module-spacing;
  padding-left: 47px;
  background: transparent;
  cursor: pointer;
  text-align: left;

  &[disabled] {
    color: $color-gray-dark;
    cursor: not-allowed;

    .triggerPlusIcon {
      svg {
        height: 11px;
        width: 19px;
      }
      color: $color-gray-dark;
      position: absolute;
      left: 16px;
      bottom: 17px;
      top: 14px;

      .padding & {
        left: $module-spacing;
      }
    }
  }

  &:hover:not([disabled]) {
    background-color: $color-gray-lighter;
  }

  .padding & {
    padding-left: 47px;
  }
}

.triggerMinusIcon {
  color: $color-blue;
  svg {
    width: 19px;
    height: 11px;
  }
  position: absolute;
  left: 16px;
  bottom: 17px;
  top: 11px;

  .padding & {
    left: $module-spacing;
  }
}

.triggerPlusIcon {
  svg {
    width: 19px;
    height: 11px;
  }
  color: $color-blue;
  height: 11px;
  width: 19px;
  position: absolute;
  left: 16px;
  bottom: 17px;
  top: 14px;

  .padding & {
    left: $module-spacing;
  }
}

.body {
  color: $color-gray-darkest;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  transition-duration: 300ms;
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  > div {
    padding: 0 $module-spacing $module-spacing 44px;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    &.noBodyIndent {
      padding-left: 0;
    }
  }

  .padding & {
    > div {
      padding-left: $module-spacing * 3;
      padding-right: $module-spacing;

      &.noBodyIndent {
        padding-left: $module-spacing;
      }
    }
  }
}

// Custom focus outline for Accordion
button.trigger:focus {
  outline: 3px solid $color-blue-vivid;
  outline-offset: 1px;
  z-index: 1;
}
