@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  max-width: $input-max-width;
}

.meter {
  display: flex;
  width: 100%;
}

.meterBar {
  width: 1px;
  height: 6px;
  background: $color-white;
  transition: all 300ms ease-in-out;

  &.weak {
    width: 25%;
    background: $color-red;
  }

  &.ok {
    width: 50%;
    background: $color-yellow;
  }

  &.good {
    width: 75%;
    background: $color-green;
  }

  &.great {
    width: 100%;
    background: $color-green;
  }
}

.meterMessage {
  height: $font-size-tiny;
  font-size: $font-size-tiny;
  line-height: 1;
  text-align: right;
}

.requirements {
  li {
    padding-left: 0.25em;
    margin-bottom: 0.1em;

    &.passes {
      color: $color-green;
    }
  }
}

.checkmark,
.bullet {
  display: inline-block;
  width: 18px;
  height: 14px;
  margin-right: 0.5em;
  text-align: center;
}

.checkmark {
  position: relative;
  top: 1px;
  fill: $color-green;
}
